body {
    background-color: #3b413c;
    height: 100%;
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.topnav {
    position: sticky;
    margin:0;
    padding:20px 20px;
    overflow:hidden;
    background-color: #9db5b2;
    font-size:large;
    color: white;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
    margin:0;
    padding:20px 20px;
}

a:hover {
    background-color: #3b413c;
    padding:20px; 
}

a:active {
    background-color:#DAF0EE;
}